body {
  background-color: #232323;
  color: #aaa;
}

.container {
  width: 1420px;
  padding-top: 20px;
}

.editor {
  width: 600px;
}

.editor__content {
  height: 600px;
}

.view {
  width: 800px;
  float: right;
}

.view__content {
  background-color: #141414;
  height: 600px;
}

.editor__controls, .view__controls {
  margin-top: 20px;
}

.view__controls__console {
  background-color: #141414;
  height: 100px;
  overflow: scroll;
  padding-left: 10px;
  padding-top: 10px;
}

.editor__controls__load-code__button {
  width: 20%;
}
.editor__controls__load-code__input {
  width: 79%;
  margin-top: 10px;
  margin-left: 1%;
}

a {
  color: white;
}
