body {
  background-color: #232323;
}

.editor {
  height: 600px;
  width: 600px;
}

.view {
  width: 800px;
  height: 600px;
  background-color: #141414;
  float: right;
}

.container {
  width: 1420px;
}

.header {
  color: #aaa;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 22px;
  margin-bottom: 5px;
}
.header .source {
  font-size: 12px;
}
.header .source {
  float: right;
}

a {
  color: white;
}
