body {
  background-color: #232323;
  color: #aaa;
}

.container {
  width: 1420px;
  padding-top: 20px;
}

.editor {
  width: 600px;
}

.editor__content {
  height: 600px;
}

.view {
  width: 800px;
  float: right;
}

.view__content {
  background-color: #141414;
  height: 600px;
}

.view__content--playing {
    border-left: 5px solid green;
    margin-left: -5px;
}

.editor__controls, .view__controls {
  margin-top: 20px;
}

.view__controls__console {
  background-color: #141414;
  min-height: 100px;
  overflow: scroll;
  resize: both;
  padding-left: 10px;
  padding-top: 10px;
}

.editor__controls__add-project__button {
  width: 120px;
}
.editor__controls__add-project__input {
  width: 470px;
  margin-top: 10px;
}

a {
  color: white;
}
